/**
 * import
 */
@require "app/styles/Charte"

/**
 * Body
 */
body
	background: $darkcyan

/*
 * App
 */
#app
	color: white
	font-family: Arvo

	&-header
		height: 100%

	&-footer
		height: 100%

	&-content
		height: 100%
