/*
 * Colors
 */


/*
 *bio
 */
#bio
	padding: 2em 1em

	&-intro
		letter-spacing: 0.1em
		margin: auto
		width: 70%

	&-web
		padding-top: 1em
		letter-spacing: 0.1em
		margin: auto
		width: 70%

	&-irl
		padding-top: 1em
		letter-spacing: 0.1em
		margin: auto
		width: 70%
