
@require "app/styles/Charte"


/*
 * App
 */
#nav
	display: flex
	justify-content: center

.nav-item
	background: $cyan
	color: white
	display: table
	justify-content: center
	padding: .6em
	text-decoration: underline

	&:hover
		background-color: $darkcyan
